# Python Operators

Python can be used like a calculator. Simply type in expressions to get them evaluated.

What are operators in python?

Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

For example:

>6+3

9
Here, + is the operator that performs addition. 6 and 3 are the operands and 9 is the output of the operation.

In [ ]:
6+3

9


   # 1. Arithmatic Operators
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

<b>+, -, **, /, %, //, **** </b>

In [1]:
print('Additaion:', 1+2)
print('Substration:',2-1)
print('Multiplction:',2*3)
print('Division:',6/2)      # Result will come in int
print('Division:',7/2)      # Result will come in float
print('Division:',7//2)     # result will come in only int every time or with out floating point number
print("Modulas:",3%2)
print("Modulas:",4%2)
print("Exponential:",3**2) # 3*3=9
print("Exponential:",3**3) # 3*3*3=27

Additaion: 3
Substration: 1
Multiplction: 6
Division: 3.0
Division: 3.5
Division: 3
Modulas: 1
Modulas: 0
Exponential: 9
Exponential: 27

In [ ]:
22**600  # python3 is natively allows (nearly) infinite length integers  
#while floationg point number are double preision number

28418980453852622603883856494709731311218158362293224700445543940796643776911788129508577246309929258069598467896008287596053863082109746801947722280783720032649818198464452375358348619120021135797251857019557032565638659667745421115194468559021541269027438746788486392649581405327516658718317011453858465218779880972140612551504149701082164179367484198570734230003528355826545644223794779911723917115845213739921327820409005460708547942445234906498880588411276755120002108963510955276534630522965966177951626038063994937181228938844252668098515385045718428663547788122173798704717510979319749834083419004355222012043715855123615249682039587844431246269017612728291710718821388840627277407189863509789929339102406655115786899696829902032282666983426897111750208839152830573688512831984602085360572485861376

In [ ]:
22.0**600

OverflowError: ignored

# 2. Comparison/Relational operators

Comparison operators are used to compare values. It either returns True or False according to the condition.


** >, <, ==, !=, >=, <= **

In [ ]:
print(6>3) # true because 6 is greater then 3
print(6>=3) # true because 6 is greater then 3
print(6>=6) # true because 6 is equal to 6

print(6<3) # false because 6 is greater then 3
print(6<=3) # false because 6 is greater then 3
print(6>=6) # true because 6 is equal to 6

# == comapare the between values and === comapare the between values and datatype


print(6==6);  # true because 6 is equal to 6
print(6!=3);  # true because 6 is not equal to 3

True
True
True
False
False
True
True
True

In [ ]:
a='Apple'
b='Banna'
c='avocado'
d='orange'
e='potato'
print(len(a)==len(b)) 
print(len(a)!=len(b))

True
False

In [ ]:
z=3   # is Assignment a value to Z
z==3  # checking that z equal to 3

True

In [ ]:
# comparisons van be chained (thats only in python  not in C/C++/JAVA)

0.5 < z <= 1

False

# 3. Logical/Boolean operators
Logical operators are the and, or, not operators.

In [ ]:
# in and operator All the operands need to return true

print(True == True)    ## return true cause both are true
print(True == False)   ## return false cause one of them is False
print(False == False)  ## return true cause both are False

print(True and True)
print(True and False)
print(True and True and False)

True
False
True
True
False
False

In [ ]:
print(1 is 1)  # 'is' means '=='
print(1 is 2)
print(1 is not 2) # 'is not' means '!='
print('a' in 'Debasish') # if the value is found in expression then return true else false 
print('c' in 'Debasish')
print('A' in 'Debasish')# case sensetive
print('python' in 'i am woking with a software it is made with python')

print(27 is 3**3)
print(28 is 3**3)

True
False
True
True
False
False
True
True
False

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:10: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:10: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-34-0e10b85f0371>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(1 is 1)  # 'is' means '=='
<ipython-input-34-0e10b85f0371>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(1 is 2)
<ipython-input-34-0e10b85f0371>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print(1 is not 2) # 'is not' means '!='
<ipython-input-34-0e10b85f0371>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(27 is 3**3)
<ipython-input-34-0e10b85f0371>:10: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(28 is 3**3)

In [ ]:
print(6>3 and 5>3) #True
print(6<3 and 5<3) #False
print(6>3 and 5<3) #False



print(6>3 or 5>3) #True
print(6<3 or 5<3) #False
print(6>3 or 5<3) #True
print(5<3 or 6>3) #True

print(not 6>3) # not True
print(not True)
print(not False)
print(not not True) # not False => True
print(not not False) # not True => Flase

True
False
False
True
False
True
True
False
False
True
True
False

In [ ]:
True and (not(not False)) or (True and (not True))
# True and (not(True)) or(True and (False))
# True and False or True and False
# False or False
#False

False

# 4. Bitwise operators
Bitwise operators act on operands as if they were string of binary digits. It operates bit by bit, hence the name.

For example: **2 is 10** in binary and **7 is 111**.

In the table below: Let x = 10 (0000 1010 in binary) and y = 4 (0000 0100 in binary)

In [ ]:
# Bitwise AND(&)        AND != and 
a=2 # binary: 0010
b=3 # binary: 0011
# & = AND
print('a & b=',a&b)
# the & operator compare each bit and set it to 1 if both bit are 1 ,else it set 0
    #0010
    #0011
    #-----
    #0010 # is decmial number is 2

a & b= 2

In [ ]:
# Bitwise OR(|)        OR != or 
a=2 # binary: 0010
b=3 # binary: 0011
# | = OR
print('a | b=',a|b)
# the | operator compare each bit and set it to 1 if any bit is 1 ,else it set 0
    #0010
    #0011
    #-----
    #0011 # is decmial number is 3

a | b= 3

In [ ]:
# Bitwise XOR(^)     
a=2 # binary: 0010
b=3 # binary: 0011
# ^ = XOR
print('a ^ b=',a^b)
# the ^ operator compare each bit and set it to 1 if only one is 1 otherwise if both bit is 1 the set 0 and if both bit 0 then 0 also
    #0010
    #0011
    #-----
    #0001 # is decmial number is 1  

# TRUE TRUE  => FALSE
# FALSE FALSE => FALSE
# TRUE FALSE => TRUE
# FALSE TRUE => TRUE

a ^ b= 1

In [ ]:
# Bitwise NOT(~)        NOT != not 
a=2 # binary: 0010

# ~ = NOT
print('~a=',~a)
# the ~ operator is invert every bit that means 1 become 0 and 0 becomes 1
    #0010
    #-----
    #1101   # is decmial number is -3

~a= -3

In [ ]:
# << Zero file left shift
a=3 # binary: 0011
print(a<<2)
print(a<<3)
print(a<<5)

# the << operator insert the specified number of 0's( in our case 2) from the rigth and let the some amount of leftmost bit fall of

# 0011 << 1100 (we are just push two 0 from the right)
# 0011 << 1000 (we are just push three 0 from the right)


# 0000000000000011 << 0000000000001100  
# 0000000000000011 << 0000000000011000 
# 0000000000000011 << 0000000001100000

12
24
96

In [ ]:
# >> Zero file right shift
a=8 # binary: 1000
print(a>>2)
print(a>>3)
print(a>>5)

# the >> operator move each bit the specified number of times to the right.
# emplty space at the left are filled with 0

# 1000 << 0010 (we are just push two 0 from the left)
# 1000 << 0001 (we are just push three 0 from the left)


# 0000000000001000 << 0000000000000010  
# 0000000000001000 << 0000000000000001 
# 0000000000001000 << 0000000000000000

2
1
0

# 5. Assignment operators
Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

There are various compound operators in Python like a += 5 that adds to the variable and later assigns the same. It is equivalent to a = a + 5.


= 

+=

-=

*=

/=

%=

//=

**=

&=

|=

^=

'>>=

<<=

In [ ]:
x=1    # Assigmnet of 1
print("x is ",x)

x+=2   # x=x+2
print("x is ",x)

x<<=2  # x=x*4
print("x is ",x)

x**=2  # x=x^2    x=12*12
print("x is ",x)

x is  1
x is  3
x is  12

# 6. Special operators
Python language offers some special types of operators like the identity operator or the membership operator. They are described below with examples.

## 1. Identity operators
is and is not are the identity operators in Python. They are used to check if two values (or variables) are located on the same part of the memory. Two variables that are equal does not imply that they are identical.


>  is , not is

## 2. Membership operators
in and not in are the membership operators in Python. They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

> in , not in